.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  background: url('./wallp.png');
  background-size: cover;
  display: flex;
  align-items: center;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.naut {
  max-width: 65px;
  height: auto;
  display: inline-block;
  border-collapse: collapse;
}

.nautrow {
  font-size: 0;
}

.text {
  color: white;
}
